body {
	background-color: #e6dfdf;
	margin-top: 100px;
   }
   div,iframe {
	 width: 65% !important;
	 margin: auto;
	 display: block;
	 border: 1px solid #ccc;
   }
   iframe{
	 height:600px !important;
	background-color: white;
   }
   div {
	 border: none;
	 margin-bottom: 10px;
   }
   button,input,select {
	 margin:5px;
   }
   button {
	color: white;
	background-color: #8644e4;
	
   }
   .buttons{
	   text-align: center;
   }

   footer{
	height: 30px;
	text-align: center;
	padding: 5px;
   }